{% extends 'layout.jinja2' %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data Visualizer</title>
</head>
<body>
    <h1>Stock Data Visualizer</h1>
    <form action="{{ url_for('result') }}" method="post">
        <label for="symbol">Enter stock symbol:</label>
        <input type="text" id="symbol" name="symbol"><br><br>

        <div> <!--Drop box for chart type-->
            <!-- <label for="chartType">Chart Type:</label>
            <select id="chartType" name="chartType" required>
                <option value="barChart">1. Bar Chart</option>
                <option value="lineChart">2. Line Chart</option>
            </select>
        </div>

        <div> <!--Drop box for timer series-->
            <!-- <label for "timeSeries">Time Series:</label>
            <select id="timeSeries" name="timeSeries" required>
                <option value="intraday">Intraday</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
        </div> -->

        <!-- <div> <!--Select the start date-->
            <!-- <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required>
        </div>

        <div> <!--Select the end date-->
            <!-- <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate" required>
        </div> --> -->

        <!-- <input type="submit" value="Generate Graph">
    </form>
</body>
</html> --> --> --> -->
