{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
    <h2 class="title">Stock Data Visualizer</h2>
    {% if err %}
        <p>{{ err }}</p>
    {% endif %}
    <form method="POST" action="/stocks">
        {{ form.csrf_token }}
        <div class="form-field">{{ form.symbol.label }} {{ form.symbol }}
            {% if form.symbol.errors %}
                <ul class="errors">
                    {% for error in form.symbol.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
            <div class="form-field">{{ form.chart_type.label }} {{ form.chart_type }}
              {% if form.chart_type.errors %}
                <ul class="errors">
                  {% for error in form.chart_type.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="form-field">{{ form.time_series.label }} {{form.time_series }}
              {% if form.time_series.errors %}
                <ul class="errors">
                  {% for error in form.time_series.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="form-field">{{ form.start_date.label }} {{ form.start_date }}
              {% if form.start_date.errors %}
                <ul class="errors">
                  {% for error in form.start_date.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="form-field">{{ form.end_date.label }} {{ form.end_date }}
              {% if form.end_date.errors %}
                <ul class="errors">
                    {% for error in form.end_date.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            </div> 
            {{ form.submit }}
        </form>
        {% if chart %}
          <div id="chart">
            <embed type="image/svg+xml" src= {{ chart|safe }} />
          </div>
        {% endif %}
        </div>
{% endblock %}